body{
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}
/*Header Start*/
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
header{
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid seashell;
    z-index: 1;
    height: 69px;
    background-color: blueviolet;
}
img{
    height: 50px;
}
a{
    color: seashell;
    padding-right: 20px;
}
/*Header Finish*/
/*Mission Start*/
#mission{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 1200px;
    margin: auto;
}
.flex-container div{
    background-color: black;
    align-self: center;
    width: 1200px;
}
/*Mission End*/
/*Tea of Month start*/
#tea-of-month{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 60px;
}
.monthimg img{
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}
.monthly-container{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.monthimg h4{
    margin: 0px;
    padding: 0px;
}
/*Tea of Month end*/
/*Start of Locations*/ 
.locations{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.locimage{
    display: flex-box;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    width: 1200px;
    height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.locs{
    justify-content: center;
    width: 300px;
}
#im-one{
    margin-right: 40px;
    background-color: black;
}
#im-two{
    margin-right: 40px;
    background-color: black;
}
#im-three{
    background-color: black;
}
#contact{
    height: 300px;
}
#copywrite{
    text-align: left;
}


