body{
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header{
    align-items: center;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid seashell;
    z-index: 1;
    height: 69px;
    background-color: blueviolet;
    
}
img{
    height: 50px;
}
a{
    color: seashell;
}
